.stepper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 24px;
}

.stepWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  
  &:last-child {
    flex: 0 0 auto;
  }
}

