.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.editContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.calendar {
    align-self: flex-start;
}
.buttons {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}