.input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-border);
  font-size: 16px;
  font-family: var(--font-serif);
  color: var(--color-text);


  &:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }
}

.placeholder {
    content: "";
    height: 16px;
    display: block;
}

.error {
    color: var(--color-error);
    font-size: 12px;
    margin: 4px 0 0 0;
    font-family: var(--font-serif);
}