.button {
  width: 300px;
  align-self: center;
  padding: 12px;
  font-family: var(--font-serif);
  font-size: 16px;
  color: var(--color-text-inverse);
  background-color: var(--color-primary);
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: var(--color-primary-hover);
  }
  &:disabled {
    background-color: var(--color-disabled);
    color: var(--color-disabled-text);
    cursor: not-allowed;
  }
}

.secondary {
  background-color: var(--color-complementary);
  &:hover {
    background-color: var(--color-complementary-hover);
  }
}

.tertiary {
  background-color: transparent;
  color: var(--color-text);
  width: fit-content;
  border: none;
  &:hover {
    background-color: var(--color-background-alt);
  }
}