.slots {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
  margin: 0 auto;
}

.slot{
    width: 100px;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    font-size: 16px;
    font-family: var(--font-serif);
    color: var(--color-text);
    cursor: pointer;
    padding: 12px;
    text-align: center;
    text-wrap: nowrap;
transition: background-color 0.3s ease, color 0.2s ease;
    
    &:disabled {
        background-color: var(--color-disabled);
        color: var(--color-disabled-text);
        cursor: not-allowed;
    }
    &:hover:not(:disabled) {
        background-color: var(--color-background-alt);
        color: var(--color-text);
    }
}

.noSlots {
    font-size: 16px;
    font-family: var(--font-serif);
    color: var(--color-text-muted);
    text-align: center;
    text-wrap: nowrap;
}