.modal {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    text-align: center;
}

.modalTitle {
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
    margin: 0;
}

.modalText {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text);
    margin: 0;
}
.modalButtons {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.cancelButton {
    width: fit-content;
}