.select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border);
    font-size: 16px;
    font-family: var(--font-serif);
    color: var(--color-text);
    background-color: var(--color-background);
    cursor: pointer;
    transition: background-color 0.2s ease;

  &:focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }
}

.option {
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
    font-family: var(--font-serif);
    padding: 12px;
    border: 1px solid var(--color-border);
}

.placeholder {
    content: "";
    display: block;
    height: 16px;
}

.error {
    color: var(--color-error);
    font-size: 12px;
    font-family: var(--font-serif);
    margin: 4px 0 0 0;
}