.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}