@use "@/styles/colors.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .rdp-chevron {
    fill: var(--color-primary);
    stroke: var(--color-primary);
  }
  .rdp-today {
    color: var(--color-primary) !important;
    font-weight: 700 !important;
  }

  .rdp-selected .rdp-day_button {
border-color: var(--color-primary) !important;
  }
  
}