.selectContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    border: 1px solid var(--color-border);
    padding: 16px;
    border-radius: 8px;
}

.select{
    width: 100%;
}