.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 7px 0 rgba(17, 17, 154, 0.2);
    gap: 16px;
  
    padding: 0 24px 24px;
  }
  
  .title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-serif);
    color: var(--color-text-inverse);
    width: calc(100% + 48px);
    transform: translateX(-24px);
    text-align: levft;
    background-color: var(--color-primary);
    padding: 12px;
    margin: 0;
  }
  