.wrapper {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.strong {
    box-shadow: 0 4px 7px 0 rgba(17, 17, 154, 0.2);
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  font-family: var(--font-serif);
  width: 100%;
  text-align: left;
  background-color: var(--color-secondary);
  margin: 0;
  padding: 12px;
  color: var(--color-text-inverse);
  margin-bottom: 16px;

  &.titleStrong {
    background-color: var(--color-primary);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 12px;
}
