.dataContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 700;
}   

.data {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-serif);
  color: var(--color-text);
  text-align: center;
}
